
  
  <!-- Primer content -->
  <ion-content [scrollEvents]="false" class="bg-image">
    <div>
      <ion-img  class="img" src="assets/icon/logoVen.png"></ion-img>
    </div> 
        <ion-button  color="light" class= "boton"expand="block" (click)="ventas()">Ventas</ion-button>
        <br>
        <ion-button  color="tertiary"class= "boton"expand="block" (click)="consultarFacturas()">Consultar Facturas</ion-button>
        <br>
        <ion-button  color="medium"class= "boton"expand="block"  (click)="OnLogout()">Cerrar Sesión</ion-button> 
      </ion-content>
  