.bg-image{
    --background: url('/assets/icon/fondo.jpg') no-repeat center center / cover;
}

#crear { 
    display:block;
    margin-left: auto;
    margin-right: auto;
    

}

#ingresar {   
    display:block;
    margin-left: auto;
    margin-right: auto;
 
    
}

ion-card{
    --background: #ffff;
    
}
ion-item{
    --background: #ffff;
    
}
.iconologin{
    width: 198px;
    justify-content: center;
    display: block;
    margin: auto auto;
}


   

