<ion-header>
  <ion-toolbar color="medium">
    <ion-button fill="outline" slot="start" color="medium" (click)="atras()">
      <ion-icon name="arrow-dropleft" color="dark"></ion-icon>
    </ion-button>
    <ion-title>Factura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-image">
  <ion-card  class="card">
    <ion-item >
      <ion-label color="tertiary" >
        Nombre del cliente
        <ion-label color="dark">
            {{nombre_cliente}}
        </ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">
        Telefono del cliente
        <ion-label color="dark">
            {{telefono_cliente}}
        </ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">
        Correo del cliente
        <ion-label color="dark">
            {{correo_cliente}}
        </ion-label> 
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">
        Fecha de la compra
        <ion-label color="dark">
            {{fecha}}
        </ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">
        Cantidad de productos comprados        
        <ion-label color="dark">
            {{cantidad}}
        </ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">
        Codigos de los productos 
        <ion-label color="dark">
            {{codigo_productro}}
        </ion-label>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">
        Valor de la compra
        <ion-label color="dark">
            {{valor_compra}}
        </ion-label> 
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="tertiary">
        Estado de la factura
        <ion-label color="dark">
            {{estado}}
        </ion-label>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-button color="light" class="boton" expand="block" (click)="cambiarEstado()">Cambiar estado factura</ion-button>
</ion-content>